<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mobeta.android.demodslv"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name" >
        <activity android:name="Launcher"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TestBedDSLV"
                  android:label="Basic usage" />
        <activity android:name="ArbItemSizeDSLV"
                  android:label="Arbitrary item heights" />
        <activity android:name="WarpDSLV"
                  android:label="Warp" />
        <activity android:name="BGHandle"
                  android:label="Background handle" />
        <activity android:name="Sections"
                  android:label="Sections" />
    </application>
</manifest> 
